* {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  justify-content: center;
}

div {
  margin: 25px;
}

#word_underline {
  letter-spacing: 0.5rem;
}

#used_letters {
  letter-spacing: 0.2rem;
}

img {
  width: 100px;
}

#main {
  display: flex;
  flex-direction: column;
}

#cima,
#baixo {
  display: flex;
  flex-direction: row;
}

#reset {
  width: 200px;
}
