* {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  background-color: rgb(189, 189, 189);
}

p {
  font-size: 0.6em;
  position: absolute;
  margin: 0;
  top: 10px;
  left: 10px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 98%;
}

#main {
  display: flex;
  flex-direction: row;
}

.square {
  width: 1.2em;
  min-width: 0.8em;
  height: 1.2em;
  margin: 3px;
  cursor: pointer;
}

#blue {
  border-radius: 100% 0 0 0;
  border: 1px solid blue;
}

#blue:hover {
  background-color: rgba(0, 0, 255, 0.5);
}

.blue2 {
  background-color: rgba(0, 0, 255, 0.3);
}

.blueActive {
  background-color: blue;
}

#yellow {
  border-radius: 0 0 0 100%;
  border: 1px solid yellow;
  margin-top: 5px;
}

#yellow:hover {
  background-color: rgba(255, 255, 0, 0.5);
}

.yellow2 {
  background-color: rgba(255, 255, 0, 0.3);
}

.yellowActive {
  background-color: yellow;
}

#red {
  border-radius: 0 0 100% 0;
  border: 1px solid red;
  margin-top: 5px;
}

#red:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

.red2 {
  background-color: rgba(255, 0, 0, 0.3);
}

.redActive {
  background-color: red;
}

#green {
  border-radius: 0 100% 0 0;
  border: 1px solid green;
}

#green:hover {
  background-color: rgba(0, 255, 0, 0.5);
}

.green2 {
  background-color: rgba(0, 128, 0, 0.3);
}

.greenActive {
  background-color: green;
}

button {
  font-size: 1em;
  margin-top: 36px;
  border: 1px solid black;
  border-radius: 50px;
  padding: 2px 70px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}
